image:
  # repository: ghcr.io/linuxserver/calibre-web
  repository: lscr.io/linuxserver/calibre-web
  tag: 6.0.0-calibre@sha256:1017bb23a5283b05ca595ae0ab1cf2804dc76adedfecda998ba4ab74040fd162
env:
  TZ: UTC
  PUID: "1000"
  PGID: "1000"
  DOCKER_MODS: linuxserver/mods:universal-calibre
ingress:
  main:
    annotations:
      nginx.ingress.kubernetes.io/proxy-buffer-size: "128k"
persistence:
  config:
    enabled: true
    mountPath: /config
  books:
    enabled: true
    mountPath: /books
    accessMode: ReadWriteOnce
    size: 10Gi
probes:
  startup:
    spec:
      initialDelaySeconds: 90
      timeoutSeconds: 1
      ## This means it has a maximum of 5*30=150 seconds to start up before it fails
      periodSeconds: 5
      failureThreshold: 30
