image:
  # repository: ghcr.io/linuxserver/calibre-web
  repository: lscr.io/linuxserver/calibre-web
  tag: 0.6.26@sha256:95fa0d0d07bf1be2404236222a882a467431f34ee35ad29b6e7b3b4bca3b0376
env:
  TZ: UTC
  PUID: "1000"
  PGID: "1000"
  DOCKER_MODS: linuxserver/mods:universal-calibre
ingress:
  main:
    annotations:
      nginx.ingress.kubernetes.io/proxy-buffer-size: "128k"
persistence:
  config:
    enabled: true
    mountPath: /config
  books:
    enabled: true
    mountPath: /books
    accessMode: ReadWriteOnce
    size: 10Gi
probes:
  startup:
    spec:
      initialDelaySeconds: 90
      timeoutSeconds: 1
      ## This means it has a maximum of 5*30=150 seconds to start up before it fails
      periodSeconds: 5
      failureThreshold: 30
