image:
  # repository: ghcr.io/linuxserver/calibre-web
  repository: lscr.io/linuxserver/calibre-web
  tag: 0.6.25@sha256:29b391ae22e336c80cc9acad7702d342ae18669b203d6b3698e2126322187a1e
env:
  TZ: UTC
  PUID: "1000"
  PGID: "1000"
  DOCKER_MODS: linuxserver/mods:universal-calibre
ingress:
  main:
    annotations:
      nginx.ingress.kubernetes.io/proxy-buffer-size: "128k"
persistence:
  config:
    enabled: true
    mountPath: /config
  books:
    enabled: true
    mountPath: /books
    accessMode: ReadWriteOnce
    size: 10Gi
probes:
  startup:
    spec:
      initialDelaySeconds: 90
      timeoutSeconds: 1
      ## This means it has a maximum of 5*30=150 seconds to start up before it fails
      periodSeconds: 5
      failureThreshold: 30
